@model Marvel.Web.Models.MarvelViewModel

@{
    ViewBag.Title = "Home Page";
}

<h3>
    Enter your favourite Marvel Character here:
</h3>
@using (Html.BeginForm("Index", "Home"))
{
    <input id="SearchBox" type="text" name="characterName" />
    <input id="submit" type="submit" />
}
<br/>

@if (Model?.Comics != null)
{
    <div><h4>Comics for @Model.CharacterName</h4><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Comic</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model.Comics)
        {
            <tr>
                <td>
                    <div class="result">
                        <img src="@item.Thumbnail" alt="image" width="200" height="200" />

                    </div>
                </td>
                <td>
                    @Html.Encode(item.Title)
                </td>
                <td>
                    @Html.Encode(item.Description)
                </td>
            </tr>
        }
    </table>
}

<div><p>@Model.Message</p></div>
